@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orangered;
    backdrop-filter: blur(50px);
    z-index: -1;
    
}

.logo{
    font-family: 'Times New Roman';
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    display: flex;
}

.navbar a {
    font-family: 'Times New Roman';
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2rem;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: orange;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 14rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

.content{
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    padding-top: 103px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 7%;
    margin-top: 12px;
    letter-spacing: 2px;
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 7%;
    letter-spacing: 2px;
}

.content .par{
    margin-top: 0px;
    padding-left: 7%;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-weight: 100;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem; 
    background-color: blue;
    border-radius: 30%;
    font-size: 2rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;

}

.goals{
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    padding-top: 70px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.goals h1{
    font-family: 'Times New Roman';
    color: white;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 3%;
}

.goals .par{
    margin-top: 10px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-bottom: 25px;
    text-align: left;
    padding-left: 3%;
}

.aitechs h1{
    font-family: 'Times New Roman';
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
    color: #fff;
    padding-top: 10px;
    position: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background: linear-gradient(60deg, red, orange, red);
    margin-top: 100px;
    background: absolute;
    border: 5px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
}

.image img{
    position: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 30px;
    transition: 400ms;
    margin-left:13%;
    margin-right:8%;
}

.faculty{
    font-family: 'Times New Roman';
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    color: #fff;
    padding-top: 10px;
    position: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background: cover;
}

.faculty h1{
    font-family: 'Times New Roman';
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
    color: #fff;
    padding-top: 10px;
    position: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background: linear-gradient(60deg, red, orange, red);
    margin-top: 100px;
    background: absolute;
    border: 5px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;

}

.faculty .par{
    font-family: 'Times New Roman';
    color: white;
    font-size: 15px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-align: center;
}






/* About_Us */
.AboutUs{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #fff;
}

.pic img{
    left: 10px;
    border-radius:50%;
    max-width: 30vw;
    filter: drop-shadow(0px 0px 10px black);
}
.About-content1 h3{
    
    text-align: left;
    font-size: 3.4rem;
    font-weight: 700;
    color: black;
}

.About-content1 .h3A{
    font-size: 2.5rem;
}


.About-content1 p{
    margin-right: 90px;
    padding-top: 20px;
    color: black;
    font-size: 1rem;
}

.links3 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid black;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: 0.5 ease;
}
.links3 a:hover{
    background: blue;
    color: lightyellow;
    box-shadow: 0 0 2rem gray;
}
